.staking-component-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.balance-wrapper {
}

.button-wrapper {
  width: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
